* {
  font-family: 'Open Sans', sans-serif;
}
.font-size-m {
  font-size: 0.75rem;
}
.blue-gradient {
  background-image: linear-gradient(to right, #2f80ed, #56ccf2);
}
.text-light.search-btn {
  background-color: rgb(255, 102, 0);
}
.text-light.search-btn:hover{
  background-color: rgb(255, 81, 0);
}
h1 {
  font-weight: 600;
}
.modal-open > .modal-backdrop.show {
  opacity: 0;
}
.modal-content > .modal-body {
  height: 20rem;
  overflow-y: auto;
  padding: 0;
}
.select-airport:hover {
  background-color: rgb(227, 227, 227);
}
.guidelines {
  width: 80%;
  margin: auto;
}
.FAQ {
  width: 80%;
  margin: auto;
}
.FAQ > p {
  font-size: 0.85rem;
}
/* .select-trip{
  font-size: .5rem;
} */
.form-check-input {
  align-items: center;
}
.width-90 {
  width: 90%;
  margin: auto;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.form-control.bg-light-blue{
  background-color: #579cf6;
}
.form-control.bg-light-blue:focus{
  background-color: #579cf6;
}

.flightsPage{
  height: 50rem;
  background-color: rgb(216, 243, 252);
}

.each-flight > .book-btn{
  background-color: rgb(255, 111, 0);
}
.reference{
  border-bottom: 1px solid grey;
}
.font-size-80{
  font-size: .80rem;
}
.width-60{
  width:60%;
}
.bg-pure-white{
  background: white;
}
.each-flight{
  box-shadow: .1rem .1rem .3rem black;
}
.each-flight:hover{
  box-shadow: .1rem .1rem .5rem black;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 600;
}
.modal-open > .modal-backdrop.show {
  opacity: .5;
}
.btn.bg-orange{
  background-color: orange;
}

.booking-page.bg-light-blue{
  background-color: #87b9f9;
}
.bg-light-blue-gradient{
  background-image: linear-gradient(to right, #65a8ff, #bdeeff);
}
.bg-light-orange{
  background-color: #fffbed;
}
.plane {
  margin: 1rem auto;
  display: table;
  width: auto;
}
.cockpit{
  height: 11rem;
  text-align: center;
  border: 5px solid #dfdfdf;
  border-radius: 12rem 12rem 0 0;
}
.seats{
  border: 5px solid #dfdfdf;
  padding:1rem;
}
.seat{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.bg-light-grey{
  background-color: #dfdfdf;
}
.bg-light-green{
  background-color: rgb(178, 238, 178);
}
.swap{
  position: relative;
  align-self: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.confirm-btn{
  height: 2.375rem;
}